nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aqua;

}
.container {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;

  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}
@media only screen and (max-width: 770px) {
  article {
    display: none;
  }
}
