nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aqua;

}
.container {
  display: flex;
  flex-direction: row;
}
section {
  display: flex;
}
@media (max-width: 770px) {
  article {
    display: none;
  }
}
